@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dpdorkdiary";
  src: url("/fonts/dpdorkdiary-p267-webfont.woff2") format("woff2"),
    url("/fonts/dpdorkdiary-p267-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  background: #000 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #000, 0 0 5px #000 !important;
}

body {
  font-family: "dpdorkdiary", "Gloria Hallelujah", cursive;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
}

.wired-card-container .wired-rendered {
  width: 100%;
}
