@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dpdorkdiary";
  src: url("/fonts/dpdorkdiary-p267-webfont.woff2") format("woff2"),
    url("/fonts/dpdorkdiary-p267-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  background: #000 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #000, 0 0 5px #000 !important;
}

body {
  font-family: "dpdorkdiary", "Gloria Hallelujah", cursive;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
}

.wired-card-container .wired-rendered {
  width: 100%;
}

.journal-writer-container .wired-rendered {
  min-height: 80vh;
}

/* React Calendar */

.react-calendar {
  font-family: "dpdorkdiary", "Gloria Hallelujah", cursive !important;
  border: none !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}

/* ProseMirror */

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd !important;
  content: attr(data-placeholder) !important;
  float: left !important;
  height: 0 !important;
  pointer-events: none !important;
}

.editor-menu-bar {
  .item {
    @apply text-gray-400;
  }

  .is-active {
    @apply text-gray-900;
  }
}
